<a href="https://colab.research.google.com/github/elishaaquino/KickstarterAnalysis/blob/master/Data_Collection_and_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Data Collection and Cleaning**

In [0]:
from bs4 import BeautifulSoup
import requests
import time
import pandas as pd
from pandas.io.json import json_normalize
import json

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
df_projects = pd.read_csv("/content/combined_csv.csv")

In [0]:
df_projects.drop(['country_displayable_name', 'creator', 'currency_trailing_code', 
                  'disable_communication', 'friends', 'is_backing',
                  'permissions', 'slug', 'static_usd_rate',
                  'static_usd_rate', 'unread_messages_count', 'unseen_activity_count', 
                  'usd_type', 'converted_pledged_amount', 'currency_symbol',
                  'fx_rate', 'current_currency', 'id', 'is_starrable',
                  'is_starred', 'photo', 'profile', 'urls', 
                  'state_changed_at'], axis=1, inplace=True)

In [0]:
import re

categories = []

for link in df_projects["source_url"]:
  result = re.search('https://www.kickstarter.com/discover/categories/(.*)%20&%20video', 
                     link)
  if result is None:
    result = re.search('https://www.kickstarter.com/discover/categories/(.*)/', 
                       link)
  if result is None:
    result = re.search('https://www.kickstarter.com/discover/categories/(.*)', 
                       link)
  categories.append(result.group(1))

df_projects.drop(['source_url'], axis=1, inplace=True)

In [0]:
df_categories = pd.DataFrame({'Parent Category': categories})
df_projects = pd.merge(df_projects, df_categories, right_index=True, left_index=True)

In [0]:
project_categories = []
for category in df_projects["category"]:
  project_categories.append((json.loads(category)["name"]))

In [0]:
project_categories
df_child_categories = pd.DataFrame({'Category Name': project_categories})
df_projects = pd.merge(df_projects, df_child_categories, right_index=True, left_index=True)
df_projects.drop(["category"], axis=1, inplace=True)

In [0]:
import numpy as np

location_names = []
for location in df_projects["location"]:
  if location is np.nan:
    location_names.append("NA")
  else:
    location_names.append((json.loads(location)["name"]))

location_types = []
for location in df_projects["location"]:
  if location is np.nan:
    location_types.append("NA")
  else:
    location_types.append((json.loads(location)["type"]))

df_locations = pd.DataFrame({'Location': location_names, 'Location Type': location_types})
df_projects = pd.merge(df_projects, df_locations, right_index=True, left_index=True)
df_projects.drop(["location"], axis=1, inplace=True)

In [0]:
df_projects["Amount of Time Live"] = (df_projects["deadline"] - df_projects["launched_at"])/86400

In [0]:
import datetime

def convert_time(time):
  return datetime.datetime.fromtimestamp(time).strftime('%Y-%m-%d %H:%M:%S')
  
df_projects["deadline"] = df_projects["deadline"].apply(lambda x:convert_time(x))
df_projects["created_at"] = df_projects["created_at"].apply(lambda x:convert_time(x))
df_projects["launched_at"] = df_projects["launched_at"].apply(lambda x:convert_time(x))

In [0]:
df_projects

      backers_count  ... Amount of Time Live
0                 0  ...           26.505845
1                 1  ...           45.000000
2               105  ...           31.494491
3                16  ...           53.277269
4                 2  ...           45.000000
...             ...  ...                 ...
3734              2  ...           56.928426
3735             15  ...           30.000000
3736              1  ...           40.041667
3737              1  ...           29.958333
3738              0  ...           60.000000

[3739 rows x 19 columns]

In [0]:
df_projects.to_csv("pastProjects.csv")

### Scraping for live projects

In [0]:
page = 0

info = []
while page <= 200:
  response = requests.get(
    "https://www.kickstarter.com/discover/advanced?sort=newest&seed=2639808&page=%d" % page)
  
  soup = BeautifulSoup(response.content, "html.parser")
  project = soup.find_all("div", {"class" :"js-react-proj-card"})

  for proj in project:
    info.append(json.loads(proj.attrs.get("data-project")))

  time.sleep(0.5)
  
  page += 1

In [0]:
df_table = json_normalize(info)

In [0]:
df_table.to_csv("notCleanLiveProjects.csv")

In [0]:
df_kickstarters = json_normalize(info)
df_kickstarters.drop(['slug', 'disable_communication', 'currency_symbol',
                  'currency_trailing_code', 'is_starrable', 'static_usd_rate',
                  'fx_rate', 'current_currency', 'is_liked', 'is_disliked',
                  'usd_type', 'id', 'friends', 'is_starred', 'is_backing',
                  'permissions', 'country_displayable_name', 'state_changed_at',
                  'converted_pledged_amount'], axis=1, inplace=True)

In [0]:
df_kickstarters.rename(columns={"category.parent_name": "Parent Category", 
                                "category.name": "Category Name", 
                                "location.name": "Location",
                                "location.type": "Location Type"},
                       inplace=True)

unwanted = df_kickstarters.columns[(df_kickstarters.columns.str.startswith('urls.')) | 
                      (df_kickstarters.columns.str.startswith('profile.')) |
                      (df_kickstarters.columns.str.startswith('photo.')) | 
                      (df_kickstarters.columns.str.startswith('location.')) | 
                      (df_kickstarters.columns.str.startswith('creator.')) | 
                      (df_kickstarters.columns.str.startswith('category.'))]

df_kickstarters.drop(unwanted, axis=1, inplace=True)

In [0]:
df_kickstarters["Amount of Time Live"] = (df_kickstarters["deadline"] - df_kickstarters["launched_at"])/86400

In [0]:
df_kickstarters["deadline"] = df_kickstarters["deadline"].apply(lambda x:convert_time(x))
df_kickstarters["created_at"] = df_kickstarters["created_at"].apply(lambda x:convert_time(x))
df_kickstarters["launched_at"] = df_kickstarters["launched_at"].apply(lambda x:convert_time(x))

In [0]:
df_kickstarters

                                                   name  ... Amount of Time Live
0                                            Love Earth  ...           22.944711
1                                   Phoenix Forged Dice  ...           40.944896
2                                         Words N Words  ...           30.000000
3               Segundo Encuentro Nacional de Maromeros  ...           54.000000
4     Monkey & The Bee takes on Athleisure & Sportsw...  ...           30.000000
...                                                 ...  ...                 ...
1711                Empire of the Stars - 4X Board Game  ...           22.458322
1712                      A New Day For Cray On The Bay  ...           29.958333
1713       Feynman Cove - The Most Versatile Dive Watch  ...           19.958333
1714                               Timor Heritage Field  ...           29.958333
1715  AXXIS Hand Axe: the power of an axe in your po...  ...           34.958333

[1716 rows x 20 columns]

In [0]:
df_kickstarters.to_csv("liveProjects.csv")